<div fxLayout="column" fxLayoutGap="30px" style="height: 60vh">
    <h3>Select a Location</h3>
    <div fxLayout="row" fxLayoutGap="30px">
        <div *ngFor="let location of locations" [ngClass]="{'location': !location.coordinatesAdded, 'location-disabled': location.coordinatesAdded}">
            <mat-card (click)="selectedResourceLocation(location)" [ngClass]="{'selected': location.isSelected, 'disabled': location.coordinatesAdded}">
                {{location.name}}
            </mat-card>
        </div>
    </div>
</div>
<div fxLayout fxLayoutGap="15px">
        <button mat-button mat-raised-button (click)="goBack()">Back</button>
        <button mat-button mat-raised-button color="primary" (click)="onNextClicked()">Next</button>
</div>