<div>
    <div fxLayout="column" *ngIf="isValidResolution">
        <mat-menu #appMenu="matMenu" xPosition="before" [overlapTrigger]="false">
            <div mat-menu-item>
                <mat-slide-toggle [checked]="enabledarkMode" (change)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
            </div>
            <div mat-menu-item>
                <mat-slide-toggle [checked]="enableModal" (change)="toggleEnableModal($event)">Modal</mat-slide-toggle>
            </div>
            <div mat-menu-item>
                <mat-slide-toggle [checked]="enableSnackBar" (change)="toggleEnableSnackBar($event)">SnackBar</mat-slide-toggle>
            </div>
        </mat-menu>
        <div class="moveRight" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon color="primary">menu</mat-icon>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    <div *ngIf="!isValidResolution" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/sorry.jpg" alt="Sorry!" class="responsive">
        <div fxLayout="row">
            <h3 fxFlexAlign="center">Sorry!</h3>
        </div>
        <h4>Application not supported on this device. Please use a desktop browser with a min resolution of 1024 x 635</h4>
    </div>
</div>