
<form [formGroup]="cabanaInformationForm" style="height: 60vh">
	<div fxLayout="row">
		<div fxLayout="column">
			<h4 class="color-primary">Cabana Information</h4>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Cabana charac</mat-label>
					<input matInput formControlName="charac" pattern="[a-z-A-Z ]*" required>
					<mat-error *ngIf="cabanaInformationForm.get('charac').hasError('required')">Charac must not be empty</mat-error>
					<mat-error *ngIf="cabanaInformationForm.get('charac').hasError('pattern')">Charac pattern doesn't match</mat-error>
				</mat-form-field>
				<mat-icon color="primary" (click)="notifyUser('charac')">error</mat-icon>
			</div>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Number of locations</mat-label>
					<input type="number" matInput formControlName="numberOfLocations" (change)="buildLocations($event)" required>
					<mat-error *ngIf="cabanaInformationForm.get('numberOfLocations').hasError('required')">Locations must not be empty</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlexOffset="100px" fxLayout="column" fxLayoutGap="10px">
			<h4 class="color-primary">Cabana Image Information</h4>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Image name</mat-label>
					<input matInput formControlName="imageName" pattern="[a-zA-Z0-9_-]*.(jpg|png|jpeg)$" required>
					<mat-error *ngIf="cabanaInformationForm.get('imageName').hasError('required')">Image name must not be empty</mat-error>
					<mat-error *ngIf="cabanaInformationForm.get('imageName').hasError('pattern')">Image name pattern doesn't match</mat-error>
				</mat-form-field>
				<mat-icon color="primary" (click)="notifyUser('image')">error</mat-icon>
			</div>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Island</mat-label>
					<input matInput formControlName="island" pattern="[a-zA-Z0-9]*"required>
					<mat-error *ngIf="cabanaInformationForm.get('island').hasError('required')">Island must not be empty</mat-error>
					<mat-error *ngIf="cabanaInformationForm.get('island').hasError('pattern')">Island pattern doesn't match</mat-error>
				</mat-form-field>
			</div>
			<!-- <div>
				<mat-form-field appearance="fill">
					<mat-select placeholder="Island">
						<mat-option *ngFor="let island of islands" [value]="island">
							{{island}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div> -->
		</div>

		<div fxFlexOffset="100px" fxLayout="column" *ngIf="locations.length">
			<h4 class="color-primary">Cabana Location Information</h4>
			<mat-accordion>
				<div *ngFor="let location of locations; index as i">
					<mat-expansion-panel [ngClass]="{'error-border': (cabanaInformationForm.get(location.name).errors !== null && cabanaInformationForm.get(location.name).touched) || (cabanaInformationForm.get(location.resources).errors !== null && cabanaInformationForm.get(location.resources).touched)}">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Location {{i+1}} information
							</mat-panel-title>
							<mat-panel-description>
								Type location details
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div fxLayout="column">
							<mat-form-field appearance="fill">
								<mat-label>Location {{i+1}} name</mat-label>
								<input matInput formControlName="{{location.name}}" required>
								<mat-error *ngIf="cabanaInformationForm.get(location.name).hasError('required')">location must not be empty</mat-error>
							</mat-form-field>
							<mat-form-field appearance="fill" fxFlexOffset="20px">
								<mat-label># of Resources for Location {{i+1}}</mat-label>
								<input matInput type="number" formControlName="{{location.resources}}" required>
								<mat-error *ngIf="cabanaInformationForm.get(location.resources).hasError('required')"># of Resources must not be empty</mat-error>
							</mat-form-field>
							<mat-form-field appearance="fill" fxFlexOffset="20px">
								<mat-label>Start Index</mat-label>
								<input matInput type="number" formControlName="{{location.resourceId}}">
							</mat-form-field>
						</div>
					</mat-expansion-panel>
				</div>
			</mat-accordion>
		</div>
	</div>
</form>
<div>
	<button mat-button mat-raised-button [disabled]="cabanaInformationForm.status==='INVALID'" color="primary" (click)="onClickNext()">Next</button>
</div>