/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

@import "styles/my-theme.scss";
@import "styles/mixins.scss";


html,body {
    margin: 10 px;
    padding: 10 px;
    font-family: sans-serif;
    .light-theme {
        h3, h4 {
            color: $light-theme-text;
        }
    }
    .dark-theme {
        background-color: #303030;
        
        .mat-input-element {
            color: $dark-theme-input-text;
        }
        .cdk-overlay-container {
            opacity: 0.96;
        }

        h3, h4, pre {
            color: $dark-theme-text !important;
        }
    }
}

.light-theme {
    @include angular-material-theme($light-theme)
}

.dark-theme {
    @include angular-material-theme($dark-theme)
}

// overrides

mat-icon {
    cursor: pointer;
}