@import '../../styles/mixins.scss';

.home-container {
    .text-center {
        text-align: center;
    }
}

.dark-theme {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.zoom {
    margin-top: 3em;
    padding: 10px;
    cursor: pointer;
    @include transform(55px, 1.5);
}
